<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Mails\"/>
      </smtp>
    </mailSettings>
  </system.net>-->
  
  <appSettings>
    
  <add key="FromEmail" value="noreplywhatsapp89@gmail.com" />
   <add key="Password" value="NoReply89NN00" />
    <add key="Host" value="smtp.gmail.com" />
    
    
  
    
  
    
    
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <services>
    <service name="WcfService.Service1">
      <endpoint address="" binding="webHttpBinding" contract="WcfService.IService1" behaviorConfiguration="mybehavoir">
        
      </endpoint>
      
    </service>  
    
    </services>
       
    <behaviors>
      <endpointBehaviors>
      <behavior name="mybehavoir">
        <webHttp />
      </behavior>  
 
      </endpointBehaviors>
        
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

<connectionStrings><add name="WhatsAppEntities" connectionString="metadata=res://*/WhatsAppModel.csdl|res://*/WhatsAppModel.ssdl|res://*/WhatsAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAZIBALI\SQLEXPRESS;initial catalog=WhatsApp;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="WhatsAppEntities1" connectionString="metadata=res://*/WhatsAppModel.csdl|res://*/WhatsAppModel.ssdl|res://*/WhatsAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAZIBALI\SQLEXPRESS;initial catalog=WhatsApp;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
